enlighten_applog.txt
enlighten_applog.txt.offset
enlighten_regular_log.txt
enlighten_errlog
enlighten.egg-info
.cache

*.swp
*.swo

*.pyc
*.exe
*.out
*.err
*.bak
Enlighten*.zip

enlighten/assets/uic_qrc/*.py
enlighten/assets/example_data/serial_lookup.ini
environment.yml

docs/doxygen/
docs/ENLIGHTEN_CHANGELOG.html
releases/

scripts/built-dist/Enlighten/
scripts/work-path/Enlighten/
scripts/Enlighten*.spec
Enlighten*.spec
build
build-work
build-mac
build-mac-work
build-linux
build-linux-work
mac.bundled
version.txt
out.txt
err.txt
wasatch_applog.txt
.vs/
settings.json

node_modules
keys.py

.DS_Store
.vscode/launch.json
.idea/
Thumbs.db

.env
ids/
