tensorflow==2.13.1
numpy
PySide6
PyQt5
pygtail 
pyusb 
pefile 
pyinstaller
pywavelets 
superman 
pyqtgraph 
libusb 
seabreeze 
boto3 
bleak 
pyftdi 
adafruit-blinka
SPyC_Writer
crcmod
pandas
pexpect
pip
psutil
pytest
scipy
xlwt
qimage2ndarray
2to3
matplotlib==3.7.5

# install these after?
#spc_spectra 
