numpy
tensorflow==2.13.1
PySide6
PyQt5
pygtail 
pyusb 
pefile 
pyinstaller==6.10.0
pywavelets 
superman 
pyqtgraph 
libusb 
seabreeze 
boto3 
bleak 
pyftdi 
adafruit-blinka
SPyC_Writer
crcmod
pandas
pexpect
pip
psutil
pytest
scipy
xlwt
qimage2ndarray
2to3
matplotlib
pyserial
colour-science
# spc_spectra

pywin32 ; sys_platform == 'win32'
