# Requirements without specifiers. Grab latest of each package
PySide6
pygtail 
pyusb 
pefile 
pyinstaller
pywavelets 
superman 
pyqtgraph 
spc_spectra 
libusb 
seabreeze 
boto3 
tensorflow==2.13
bleak 
pyftdi 
adafruit-blinka
SPyC_Writer
crcmod
