QPushButton:hover { border: none; }
QPushButton 
{
    border: none;
    border-radius: 0;
	background-color: qlineargradient(spread:pad, 
        x1:0, y1:1, 
        x2:0, y2:0, 
        stop: 0 rgba(117, 55, 0, 255), 
        stop: 1 rgba(255, 117, 48, 255));
}
