QFrame
{
    color: #eee;
  /*background: hsl(0, 0%, 21%);*/
    background: hsl(255, 0%, 21%);
  /*border: 2px solid #000000;*/
    border: 2px solid white;
    border-radius: 6px;
}

QFrame QLabel
{
    border: none;
    background: transparent;
}
